.reportsCategoriesNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.reportsCategoriesNavNextButton {
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.reportsCategoriesNavView {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
