.expensesIncomeContainer {
  /* background-color: var(--primary-bg-color); */
  background-color: #fff;
  margin: 0 auto;
  max-width: 1098px;
  max-height: 579px;
  box-shadow: 0px 10px 60px 0px #aab2c533;
  border-radius: 0px 30px 30px 30px;
  padding: 30px;
}

.expensesIncome {
  display: flex;
  justify-content: space-around;
}
