@import '../../styles/vars.css';

.expensesIncomeContainer {
    background-color: var(--primary-bg-color);
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0px 10px 60px 0px #AAB2C533;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 9px;

    max-width: 1098px;
    padding: 30px 30px 0 30px;
}

.expensesIncome {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .expensesIncomeContainer {
        max-width: 704px;
        padding-bottom: 20px;
    }

    .expensesIncome {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .expensesIncomeContainer {
        width: 320px;
    }
}