.headerExitButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.headerExitButtonText {
  border-bottom: 1px solid var(--text-gray);
  color: var(--text-gray);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 0.48px;
}

.headerExitButtonMobile {
  background: none;
  border: none;
  display: none;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 16px;
}

@media screen and (max-width: 576px) {
  .headerExitButtonMobile {
    display: block;
  }

  .headerExitButton {
    display: none;
  }
}