.currentPeriodContainer {
  width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentPeriodWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.currentPeriodButton {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.currentPeriodButtonIcon {
  padding: 0;
}

.currentPeriodLabel {
  color: #52555f;
  font-size: 12px;
  letter-spacing: 0.48px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.currentPeriodDate {
  color: #000;
  font-size: 14px;
  letter-spacing: 0.28px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
