@import '../../styles/vars.css';

.returnLink
{
	align-items: center;
	display: flex;
	margin-bottom: 25px;
	text-decoration: none;
}
.returnText
{
	color: var(--text-gray);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 14px;
	padding-left: 16px;
}
@media screen and (max-width: 768px)
{
	.returnText
	{
		display: none;
	}
}
.returnIcon
{
	height: 24px;
	width: 24px;
}