.ExpensesIncomeForm {
  display: flex;

  width: 1034px;
}

.ExpensesIncomeFormInputContainer {
  display: flex;
}

.ExpensesIncomeFormInputDesc {
  background: none;

  width: 290px;
  height: 44px;

  border-radius: 16px 0 0 0;

  color: var(--description-color);
  font-size: 12px;
  letter-spacing: 0.24px;

  padding: 10px;
  border: none;
  border: 2px solid transparent;

  padding: 1px 2px 1px 10px;
  margin-left: 32px;
}

.ExpensesIncomeFormInputSelectCategory {
  width: 169px;
  height: 44px;

  color: var(--description-color);
  font-size: 12px;
  letter-spacing: 0.24px;

  font-weight: 400;
}

.ExpensesIncomeFormInputValueContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.ExpensesIncomeFormInputValue {
  width: 120px;
  height: 50px;

  border: none;
  background: none;
  outline-offset: -2px;

  color: var(--description-color);
  font-size: 18px;
  letter-spacing: 0.24px;

  text-align: right;
  padding-right: 41px;

  border-left: none;
  border-radius: 0 16px 16px 0;
}
.ExpensesIncomeFormInputValue::focus {
  outline: 2px solid #007bff;
}
.ExpensesIncomeFormInputValueIcon {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.ExpensesIncomeFormInputDesc::placeholder,
.ExpensesIncomeFormInputSelectCategory::placeholder {
  color: var(--description-color);
  font-size: 12px;
  letter-spacing: 0.24px;

  font-weight: 400;
}
