.ExpensesIncomeForm {
  display: flex;

  width: 1034px;
}
.ExpensesIncomeFormDateContainer {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}
.ExpensesIncomeFormDateIcon {
  width: 20px;
  height: 20px;
}
.ExpensesIncomeFormDateInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  box-sizing: border-box;

  color: var(--text-gray);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.48px;
  font-weight: 900;

  pointer-events: none;
}
.ExpensesIncomeFormDateInput::-webkit-calendar-picker-indicator {
  display: none;
}
.ExpensesIncomeFormInputContainer {
  display: flex;
}
.ExpensesIncomeFormInputDesc,
.ExpensesIncomeFormInputCategory,
.ExpensesIncomeFormInputValue {
  border: none;
  outline: none;
  background: none;

  color: var(--text-gray);
  font-size: 12px;
  letter-spacing: 0.24px;
  font-weight: 900;

  padding: 10px;
}
.ExpensesIncomeFormInputDesc::placeholder,
.ExpensesIncomeFormInputCategory::placeholder,
.ExpensesIncomeFormInputValue::placeholder {
  color: var(--description-color);
  font-size: 12px;
  letter-spacing: 0.24px;

  font-weight: 400;
}
