/* MOBILE CSS RULES */

@media screen and (min-width: 768px) {
  /* TABLET CSS RULES */
}

@media screen and (min-width: 1200px) {
  /* DESKTOP CSS RULES */

  .tableBox {
    width: 746px;
    border-spacing: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid #f5f6fb;
    border-bottom: none;
    background: #f5f6fb;
  }

  .tableHead,
  .tableContainer {
    height: 40px;
  }

  .tableHeadItem {
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
  }

  .tableHeadItem2 {
    display: none;
  }

  .tableBodys {
    background-color: #fff;
    text-align: center;
  }

  .tableContainerItem {
    height: 40px;
    text-align: center;
    color: #52555f;
    border-bottom: 2px solid;
    border-color: #f5f6fb;
    font-size: 12px;
  }

  .sumCell {
    font-weight: 700;
    padding-left: 20px;
  }

  .trashButton {
    width: 32px;
    height: 32px;
    border-bottom: 2px solid;
    background-color: #f5f6fb;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }

  .trashIcon {
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 2;
    fill: black;
  }
}
