.tableBox {
  width: 746px;
  border-spacing: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid #f5f6fb;
  border-bottom: none;
  background: #f5f6fb;
}

.tableHead,
.tableContainer {
  height: 40px;
}

.tableHeadItem {
  color: #000000;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.tableHeadItem2 {
  display: none;
}

.tableBodys {
  background-color: #fff;
  text-align: center;
}

.tableContainerItem {
  height: 40px;
  text-align: center;
  color: #52555f;
  border-bottom: 2px solid;
  border-color: #f5f6fb;
  font-size: 12px;
}

.sumCell {
  font-weight: 700;
  padding-left: 20px;
}

.trashButton {
  width: 32px;
  height: 32px;
  border-bottom: 2px solid;
  background-color: #f5f6fb;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.trashIcon {
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 2;
  fill: black;
}

@media screen and (max-width: 768px) {
  .tableBox {
    width: 642px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 576px) {
  .tableBox {
    border: none;
    width: 100%;
  }

  .tableHead {
    display: none;
  }

  /* .tableContainer {
    border-bottom: 1px solid #f5f6fb;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  } */

  .tableContainerItem:nth-child(1) {
    display: none;
  }

  .tableContainerItem:nth-child(2) {
    display: none;
  }

  .tableContainerItem:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .tableContainerItem:nth-child(4) {
    grid-area: 1 / 3 / 3 / 4;
    align-self: center;
  }

  .tableContainerItem:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
    align-self: center;
  }

  .tableContainerItem {
    border-bottom: none;
  }

  .trashButton {
    background-color: #fff;
  }
}