@import '../../styles/vars.css';

.BalanceForm {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-bottom: 20px;
}

.BalanceLabel {
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
}

.BalanceInput {
    background-color: #f2f5fc;
    border: 2px solid #ffffff;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.02em;
    line-height: 1.17;
    padding: 0px;
    text-align: center;
    width: 125px;
}

.BalanceInput::placeholder {
    color: var(--text-black);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.17;
}

.BalanceButton {
    background-color: #f2f5fc;
    border: 2px solid #ffffff;
    border-radius: 16px;
    color: rgba(82, 85, 95, 0.7);
    font-size: 12px;
    font-weight: 400;
    height: 44px;
    text-align: center;
    width: 125px;
}

@media screen and (max-width: 576px) {
    .BalanceForm {
        flex-direction: column;
    }

    .BalanceInput {
        border-radius: 16px 0 0px 16px;
        border-right: 0px;
    }

    .BalanceButton {
        border-radius: 0 16px 16px 0;
    }
}