body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background {
  background-color: var(--secondary-bg-color);
  padding-bottom: 200px;
}

.header-user-space {
  display: flex;
}

.login-page-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.expenses-page__header {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 300px;
}

.container {
  max-width: 1098px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* background-color: var(--primary-bg-color);
border-radius: 0px 30px 30px 30px;
box-shadow: 0px 10px 60px 0px #AAB2C533;
box-sizing: border-box;
margin: 0 auto;
margin-top: 9px;
max-width: 1098px;
padding: 30px 30px 0 30px; */

.expenses-income {
  display: flex;
  justify-content: space-around;
}

.reports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  max-width: 1034px;

}


.reports-content {
  text-align: center;
}

.balance-label {
  display: flex;
  justify-content: space-around;
}

.categories-nav {
  text-align: center;
}

.category-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-wrapper {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 10px 60px rgba(170, 178, 197, 0.2);
  width: 100%;
  max-width: 1034px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .expenses-page__header {
    padding-bottom: 50px;
    gap: 0;
    justify-content: space-between;
    width: var(--container-width-tablet);

  }

  .container {
    max-width: 704px;
  }
}

@media screen and (max-width: 576px) {
  .expenses-page__header {
    gap: 1.5rem;
    flex-direction: column-reverse;
    width: var(--container-width-phone);
  }


  .reports-header {
    flex-direction: column-reverse;
    gap: 2rem;
    position: relative;
  }

}