body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-user-space{
  display: flex;
}

.login-page-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-form{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-around;
}

.expenses-page__header{
  display: flex;
  justify-content: space-around;
}

.expenses-income{
  display: flex;
  justify-content: space-around;
}

.reports-header{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.reports-content{
  text-align: center;
}

.balance-label{
  display: flex;
  justify-content: space-around;
}

.categories-nav{
  text-align: center;
}

.category-list{
  display: flex;
  justify-content: center;
}

.category{
  width: 100px;
  height: 150px;
  border: 1px solid gray;
  background-color: rgb(214, 218, 221);
}

.chart{
  margin: 40px auto;
  width: 300px;
  height: 300px;
  background-color: rgb(221, 218, 195);
}