.reportsNavLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 15px;
}

.reportsNavText {
  color: var(--text-gray);
  font-size: 12px;
  letter-spacing: 0.48px;
}

.reportsNavIcon {
  width: 24px;
  height: 24px;
}
